<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.data>
  <DbProviderFactories>
      <add name="Mono Sqlite Provider"  invariant="System.Data.Sqlite" 
		 description="Mono Framework Data Provider for SQLite (new version)"
		 type="Mono.Data.Sqlite.SqliteFactory, Mono.Data.Sqlite, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756"/>
  </DbProviderFactories>
</system.data>
</configuration>
